@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.gap-main-page {
  gap: 10rem;
}

body {
  background-image: url('../public/BlackBackground.png'); /* Replace with the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text-gray-700 {
  color: rgba(55, 65, 81, 1);
}

.bg-opacity-80 {
  background-color: rgba(255, 255, 255, 0.8);
}

.bg-opacity-90 {
  background-color: rgba(255, 255, 255, 0.9);
}

.bg-white {
  background-color: white;
}

.techno-align {
  align-items: first baseline;
}

.border-color-lightgray {
  border-color: lightgray;
}
