@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.gap-main-page {
  gap: 10rem;
}

body {
  background-image: url('../public/BlackBackground.png'); /* Replace with the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text-gray-700 {
  color: rgba(55, 65, 81, 1);
}

.bg-opacity-80 {
  background-color: rgba(255, 255, 255, 0.8);
}

.bg-opacity-90 {
  background-color: rgba(255, 255, 255, 0.9);
}

.bg-white {
  background-color: white;
}

.bg-transparent {
  background-color: transparent;
}

.techno-align {
  align-items: first baseline;
}

.border-color-lightgray {
  border-color: lightgray;
}

.underline-link {
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-right: 0.5rem;
}

.app-align {
  align-items: center;
}

.px-24 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(229 231 235/var(--tw-text-opacity));
}

.font-medium {
  font-weight: 500;
}

.bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81/var(--tw-bg-opacity));
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem;
}

.rounded-lg {
  border-radius: .5rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}

.contact-form {
  background: #fff;
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

.input-field, .textarea-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.submit-button {
  background-color: #4CAF50; 
  color: white; 
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; 
}

.submit-button:hover {
  background-color: #45a049;
}

.color-white {
  color: white;
}

.pt-8 {
  padding-top: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

/* Text Styles */
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
}

.background-blue-500 {
  --tw-text-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-text-opacity));
}

/* Flex Utilities */
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.blog-opened-state {
  font-size: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  /* fade out, then shrink */
  transition: opacity .25s,
              font-size .5s .25s,
              margin .5s .25s,
              padding .5s .25s;
}

.blog-closed-state {
    /* unshrink, then fade in */
    transition: font-size .25s,
                margin .25s,
                padding .25s,
                opacity .5s .25s;
}

